/* div.input-field.inline {
    margin: 0px;
}

div.row {
    margin: 0px;
    max-height: 30px;
}

header {
    background-color: green;
} */

#quote,
#author {
  text-align: center;
  font-size: 20px;
}
.waves-effect {
  margin: 2px;
}
p {
  margin: 0px;
}

.chartBox {
  width: 700px;
  padding: 20px;
}

#exercise-search-result .exerciseLi {
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}

#instructionCard {
  font-size: 20px;
}

#difficultyType,
#equipmentType {
  font-size: 30px;
}
