/* div.input-field.inline {
    margin: 0px;
}

div.row {
    margin: 0px;
    max-height: 30px;
}

header {
    background-color: green;
} */

body {
  background: url(./Images/vegetable-lanscape.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#recipes,
#exercises,
#homeTag {
  border-radius: 10px;
  box-shadow: 6px 0px 17px 10px;
  margin-left:12px;
  padding: 10px;
}
#quote {
  text-align: center;
  font-size: 30px;
  color: white;
}

#author {
  text-align: center;
  font-size: 20px;
  color: white;
}
.waves-effect {
  margin: 2px;
}
p {
  margin: 0px;
}

.chartBox {
  width: 700px;
  padding: 20px;
}

#exercise-search-result .exerciseLi {
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}

#instructionCard {
  font-size: 20px;
}

#difficultyType,
#equipmentType {
  font-size: 30px;
}
nav {
  box-shadow: none;
}

#quote-wrapper {
  background-color: rgba(225, 177, 104, 0.465);
  backdrop-filter: blur(6px);
}

#myChart {
  background-color: white;
}
#homeFavDisplayWrapper {
  height: 35%;
  width: 35%;
}
