/* div.input-field.inline {
    margin: 0px;
}

div.row {
    margin: 0px;
    max-height: 30px;
}

header {
    background-color: green;
} */


#quote,#author{
    text-align: center;
    font-size: 20px;
}
.waves-effect {
    margin: 2px;
}
p {
    margin: 0px;
}